<!-- views/pages/about.ejs -->
<% include ../partials/head %>
<body class="<%= Lang %> sub-page" data-lang="<%= Lang %>">

  <div class="cmcm-wrapper">
    <section class="first-screen" id="CMCM_FirstScreen">
      <% include ../partials/header %>
    </section>
    <h1><%= title %></h1>
    <% include ../partials/footer %>

  </div><!-- .cmcm-wrapper -->
  <script src="/dist/index.min.js?v=1302"></script>
</body>
</html>
